*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../assets/bg-main-mobile.png");
  background-position: 0% -20%;
  background-repeat: no-repeat;
  overflow-x: hidden;

  @include respond-tab {
    background-image: url("../assets/bg-main-tablet.png");
    background-position: 100% -60%;
    padding: 0 3.3rem;
  }

  @include respond-desktop {
    animation: moveBg 10s infinite ease;
    background-image: url("../assets/bg-main-desktop.png");
    background-position: 80% 90%;
    background-size: 130%;
    padding: 0 16.5rem;
  }
}

.bg-pattern {
  display: none;

  @include respond-tab {
    display: initial;
    position: absolute;
    right: -5rem;
    top: -6rem;
    width: 30rem;
  }

  @include respond-desktop {
    right: 0;
  }
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }

  50% {
    background-position: 200% 200%;
  }

  100% {
    background-position: 0% 0%;
  }
}