.u-margin-top {
  &--big {
    margin-top: 6.4rem;
  }
}

.u-margin-bottom {
  &--small {
    margin-bottom: 1.2rem;
  }

  &--medium {
    margin-bottom: 2rem
  }

  &--big {
    margin-bottom: 2.4rem;
  }
}

.u-fw {
  &--bold {
    font-weight: 700;
  }
}